* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ul{
        li{
            list-style: none;
            padding: 5px 0;
        }
    }
}

html {
    scroll-behavior: smooth;
    height: 100%;
    font-family: 'Catamaran', sans-serif;
}

body {
    font-size: $font-size-0;
    font-family: 'Catamaran', sans-serif;
    overflow-x: hidden;
}

.clear {
    clear: both;
}